body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("/images/bg.jpeg");
    background-size: cover;
    background-position: center;



}




* {

    margin: 0;
    padding: 0;
}

/* body {
    background-image: url("bg.jpeg");
    display: flex;
    flex-direction: column;
    align-items: center;

} */

a:hover {
    color: rgb(216, 216, 6);
}

.navbar {
    margin: 5px;
    /* float: left; */
    
    display: block;
    width: 97vw;
    /* float: right; */
    border: 2px solid bisque;
    border-radius: 10px;
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 0 7px 2px indianred;


}




.navbar:hover {
    box-shadow: inset 0 0 7px 2px rgb(226, 192, 192);

}

ul {
    /* width: 100vw; */
    /* float: right; */
    /* border: 2px solid blueviolet; */
    display: inline-block;

}

.items {
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;

}

li img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 17px;



}

.item1 {
    padding-left: 30px;

}

.navbar .item4 {
    border-radius: 10px;
    background-color: rgb(1, 82, 55);

}

.navbar .item5 {
    border-radius: 10px;
    background-color: rgb(1, 62, 82);
    color: rgb(255, 255, 255);

}

.catName {
    display: inline-block;
    color: #000000;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: oblique;
    padding: 15px;
    text-decoration: underline;
    margin-top: 10px;
    background: cornflowerblue;
    background: linear-gradient(to bottom, #8b4513, #ffcc00);
    border-radius: 11px;
}




.item5 {
    color: rgb(207, 207, 226);
    /* background-color: red; */
}

.catBook {
    display: flex;
    flex-wrap: wrap;
}


.grid {
    /* display: grid; */
    /* grid-auto-rows: 100px; */
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    height: 30%;
    margin: 7px;
    flex-grow: 1;
}

.item {

    display: flex;
    justify-content: center;
    align-items: center;

    color: wheat;
    /* border-bottom: 2px dotted; */
    border: 2px dotted;
    padding: 10px;

}

.item1 {
    border: 0px dotted;

}

.item1 {
    grid-column: 1/6;
    grid-row: 1/ 2;
    border-radius: 2px;
}

.searchbar {
    /* width: 80vw; */
    width: 90%;
    margin: 20px 20px 20px 0px;
    padding: 14px;
    border-radius: 12px;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: bold;

}

.searchbar:hover {

    box-shadow: 0 0 20px 2px #a30a0a;
}

/* 
.nav2 {
    background: black;
    border-radius: 10px;
    background: linear-gradient(to right, #3e1f1b, #5a2a29);
    font-size: .7rem;
}

.nav2 h2 {
    text-align: center;
    margin:20px;


}

.nav2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav2 a {
    
    text-decoration: none;
    color: wheat;
    display: block;
    margin-top: 20px;
    margin: 2px 10px;
}

.nav2 a:hover {
    background-color: rgb(255, 255, 255);
    color: blue;
    border-radius: 5px;
}

.nav2 .logout-btn {
    background-color: none;
    color: #000000;
    border: none;
    width: 90%;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px;
}

.nav2 .logout-btn:hover {
    background-color: #2e4d6d;
    color: #fff;
    border: 1px solid #010e1b;

} */
.searchIcon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: relative;
    right: 19px;
    top: 0px;
    background: #2b1717;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 10px;
}

.navfav {
    display: flex;
    height: 100vh;
}

.nav-container {
    width: 15%;
    padding: 20px;
    border-radius: 10px;
    color: aliceblue;
}

.recomment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/6;
    grid-row: 3/ 4;
    /* height: 350%; */
    margin: 20px;
}

.box {
    /* height: 420px; */
    color: whitesmoke;
    border: 4px solid #ffe2e2;
    transition-property: transform;
    transition-duration: 2s;
    background: linear-gradient(135deg, #d0b7b7, transparent);
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    border-radius: 14px;
    /* box-shadow: 0 0 20px 0px #ddbdff; */

}

.box:hover {
    transform: scale(1.1);


}

.bookImages {
    width: 100%;
    border-radius: 10px;

}

@media screen and (max-width:600px) {
    .box {
        margin: 20px 3px 20px 20px;

    }

    .recomment {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }


}

.bookname {
    background: linear-gradient(45deg, #007bff, #6610f2);
    font-weight: bolder;
    font-style: oblique;
    /* display: inline-block; */
    font-size: 1.4rem;
    text-align: center;
    padding: 0px;
    border-radius: 7px;
}

.bookdescription {
    display: none;
}

.spinner {
    height: 100px;
    width: 100px;
    opacity: 1;
    border-radius: 50%;
    border: 8px solid burlywood;
    border-top: 7px solid brown;
    position: absolute;
    margin-left: 46vw;
    animation-name: spinn;
    top: 20vh;
    animation-duration: 2s;
    z-index: 4;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    z-index: 2;
    margin-top: 250px;
    display: none;
}



@keyframes spinn {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.item select,
option {
    padding: 9px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    cursor: pointer;
    font-size: 1.1rem;
}

.item select {
    cursor: pointer;
    border-radius: 5px;
    color: #2d2519;
    background: linear-gradient(to right, #ffffff, #d4af37);
}

.item select:hover {
    box-shadow: 0 0 8px 2px rgb(190, 164, 214);

}